.homePage {
  padding: 20px 0;
}

.cardTitle {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}

.hint {
  margin-bottom: 10px;
  color: rgb(165, 94, 1);
  text-align: center;
  font-size: 14px;
}
